<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings xdt:Transform="Remove"/>
  <applicationSettings xdt:Transform="Insert"  >

    <Livy_net.Tests.Properties.Settings>
      <setting name="LivyUrl" serializeAs="String">
        <value>https://titaspark.azurehdinsight.net</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>Telvent!!1</value>
      </setting>
    </Livy_net.Tests.Properties.Settings>
  </applicationSettings>
  
  
</configuration>